<%- include('../partials/_head-style.ejs') %>
    <title>Editing <%= application.title %>
    </title>
</head>

<body>

    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit { <%= application.title %> at <%= application.company %> }</h1>
    <div class="new-body">
        <fieldset>
            <legend>Job Application</legend>
            <form action="/users/<%= user._id %>/applications/<%= application._id %>?_method=PUT" method="POST">
                <label for="company">Company:</label>
                <input type="text" name="company" id="company" value="<%= application.company %>">
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="<%= application.title %>">
                <label for="notes">Notes:</label>
                <textarea name="notes" id="notes"><%= application.notes %></textarea>
                <label for="postingLink">Posting Link:</label>
                <input type="text" name="postingLink" id="postingLink" value="<%= application.postingLink %>">
                <label for="status">Status:</label>
                <select id="status" name="status">
                    <option value="interested" <%=application.status==="interested" ? "selected" : "" %>>
                        Interested &#x1F914
                    </option>
                    <option value="applied" <%=application.status==="applied" ? "selected" : "" %>>
                        Applied &#x1F623
                    </option>
                    <option value="interviewing" <%=application.status==="interviewing" ? "selected" : "" %>>
                        Interviewing &#x1F978
                    </option>
                    <option value="rejected" <%=application.status==="rejected" ? "selected" : "" %>>
                        Rejected &#x1F635
                    </option>
                    <option value="accepted" <%=application.status==="accepted" ? "selected" : "" %>>
                        Accepted &#x1F973
                    </option>
                </select>
                <button type="submit">Update Application</button>
            </form>
        </fieldset>
    <div>
</body>

</html>